//site color variables
$body-color: #F4F4F4;
$primary-color: #002B5B;
$secondary-color: #D35400;
$text-color: #343A40;
$text-color-dark: #001B3A;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #E6E8EB;
$dark-gray: #4A4A4A;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
